body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Rubik', 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

input {
    border-radius: 10px;
    padding: 6px;
    margin-left: 5px;
}

.btn {
    border-radius: 8px;
    padding: 6px 10px 6px 10px;
    margin-left: 2px;
}

.resultado {
    width: 100%;
    justify-content: center;
}

.card-pokemon {
    width: 20%;
}

.listado-pokemon {
    width: 100%;
}